<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
    <link rel="stylesheet" href="/stylesheets/Schedule/calendar.css">
    <link rel="stylesheet" href="/stylesheets/Category/category.css">
    <script defer src="/javascripts/navbar.js"></script>
    <script defer src="/javascripts/Schedule/CreateEditSchedule.js"></script>
    <script defer src="/javascripts/Category/CreateEditCategory.js"></script>
    <script defer src="/javascripts/Category/AddUser.js"></script>
    <script defer src="/javascripts/Category/CalendarCategory.js"></script>
    <script defer src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<%- include ('layout/navbar.ejs') %>
<div class="wrapper">
    <div class="category--form">
        <%- include ('category.ejs') %>
    </div>
    <div class="calendar--form">
        <%- include ('fullcalendar.ejs') %>
    </div>
</div>
<div class="modalDiv">
    <%- include('./ScheduleList.ejs')%>
    <%- include('./ScheduleEdit.ejs')%>
    <%- include('./CategoryCreateEdit.ejs')%>
</div>
</body>
</html>
